<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'live.history' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-scroll scrollX="true">
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let playerId of playerIds">
            {{ sortedRounds[playerId].player.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let roundNumber of roundsNumber">
          <td>{{ roundNumber }}</td>
          <td *ngFor="let playerId of playerIds" (press)="showActions(sortedRounds[playerId].rounds[roundNumber - 1])">
            {{ sortedRounds[playerId].rounds[roundNumber - 1] ? sortedRounds[playerId].rounds[roundNumber - 1].score : '' }}
          </td>
        </tr>
      </tbody>
    </table>
  </ion-scroll>
</ion-content>
