<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'players.players' | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button light full [disabled]="game.players.length === 0" (click)="validate()">
        {{ "validate" | translate }}
        &nbsp;<ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="defineNumber()" full block>
    {{ "players.number" | translate }} : {{ game.players.length || 0 }}
  </button>
  <ion-list class="players_list">
    <ion-item *ngFor="let player of game.players; let i = index">
      <span class="player_color" [style.background-color]="player.color" item-left></span>
      <ion-input type="text" placeholder="{{ getDefaultName(i+1) }}" [(ngModel)]="player.name" [disabled]="!game.id && player.id" (input)="setPlayerSelectable(player)"></ion-input>
      <ion-select interface="action-sheet" class="player_select" [hidden]="game.id" [(ngModel)]="selectedPlayers[i]" (ionChange)="playerSelected(i)" cancelText="{{ 'cancel' | translate }}">
        <ion-option [value]="{}">{{ 'players.new_player' | translate }}</ion-option>
        <ion-option *ngFor="let p of ( allPlayers | availablePlayers : game.getPlayersIds() )" [value]="p">{{ p.name }}</ion-option>
      </ion-select>
      <ion-icon name="remove-circle" (click)="removePlayer(player)" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-buttons end>
    <button ion-button clear (click)="addPlayer()">
      <ion-icon name="add-circle"></ion-icon>
      {{ "players.add" | translate }}
    </button>
  </ion-buttons>
</ion-content>
