/**
 * Temporary fix for popover not displayed after virtual keyboard showed up
 * Should be fixed in RC6
 */
ion-popover.home-menu {
  .popover-content {
    left: auto !important;
    right: 12px;
    height: 115px;
  }
}

page-home {
  ion-navbar {
    text-align: center;
  }

  ion-item-options {
    button {
      box-shadow: 5px 0 10px -5px #000000 inset;
    }
  }

  .no_games {
    font-size: 1.2em;
    font-weight: bold;
    color: #AAAAAA;
  }

  ion-item.favorite {
    .favorite-icon {
      color: #FFD700;
      text-shadow: 0px 0px 0px #000000;
    }
  }
}
