// http://ionicframework.com/docs/v2/theming/


// Global CSS
// --------------------------------------------------
// Put CSS rules here that you want to apply globally.
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
// App Shared Sass variables belong in app.variables.scss.

/** Overwrite default modal display to show page with a backdrop, like an alert */
ion-modal {

  display: flex;
  align-items: center;
  justify-content: center;

  ion-backdrop {
    visibility: visible;
  }

  .modal-wrapper {
    border-radius: 2px;
    background-color: #fafafa;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    min-width: 280px;
    max-height: 80%;
    width: auto;
  }
}

ion-header {
  background: map-get($colors,'mainDark');
  color: map-get($colors,'mainLight');
  [padding] {
    padding: 5px;
  }
}

ion-footer {
  background: map-get($colors,'mainDark');
  color: map-get($colors,'mainLight');

  .button {
    color: map-get($colors,'mainLight');
  }
}

ion-content {
  background: map-get($colors,'lightBG');
}

.item {
  background: map-get($colors,'lightBG');
}

.toolbar-title {
  color: inherit;
}
.toolbar-background {
  border-color: transparent;
  background: map-get($colors,'mainDark');
}

.bar-button-default {
  color: map-get($colors,'mainLight');
}

.action-sheet-group:last-child .action-sheet-button {
  border-top: 1px solid $list-border-color;
}